In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Read data to python environment

In [2]:
data = pd.read_excel('iris.xls')

In [3]:
data.head()

    SL   SW   PL   PW Classification
0  5.1  3.5  1.4  0.2    Iris-setosa
1  4.9  3.0  1.4  0.2    Iris-setosa
2  4.7  3.2  1.3  0.2    Iris-setosa
3  4.6  3.1  1.5  0.2    Iris-setosa
4  5.0  3.6  1.4  0.2    Iris-setosa

### Display the columns in the dataset

In [4]:
data.columns

Index(['SL', 'SW', 'PL', 'PW', 'Classification'], dtype='object')

### Calculate the mean of each column of the dataset

In [7]:
data.mean()

SL    5.843333
SW    3.054000
PL    3.758667
PW    1.198667
dtype: float64

### Check for the null values present in the dataset

In [10]:
data.isnull().sum()

SL                0
SW                0
PL                0
PW                0
Classification    0
dtype: int64

### Perform meaningful visualizations using the dataset. Bring at least 3 visualizations.

In [ ]:
plt.figure(figsize=(6,4))
plt.hist(data['SL'])
plt.title('Sepal Length')
plt.xlabel('SL')
plt.ylabel('Frequency')

In [ ]:
plt.figure(figsize=(6,4))
plt.scatter(data['SL'],data['SW'],s=10)
plt.title('Plot of SL vs SW',fontsize=16)
plt.xlabel('SL')
plt.ylabel('SW')

In [ ]:
plt.boxplot(data['PW'])
plt.title('Box plot of Petal Width')
plt.xlabel('PW')